<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.social.demo.dao.mapper.AppraisalMapper">


    <select id="selectLastMonthScore" resultType="java.lang.Integer">
        SELECT score FROM appraisal WHERE user_id in (SELECT user_id FROM user WHERE user_number = #{userNumber}) AND `month` = #{month}
    </select>
    <select id="selectUserNumbers" resultType="java.lang.String">
        SELECT user_number FROM user AS u, appraisal AS a 
                           WHERE u.user_id = a.user_id
                             <if test="name!=null and name!=''">
                                 AND u.username LIKE CONCAT("%",#{name},"%")
                             </if>
                             <if test="classId != null">
                                 AND u.user_id IN (SELECT user_id FROM student WHERE class_id = #{classId})
                             </if>
                             <if test="month != null">
                                 AND a.month = #{month}
                             </if>
                            <if test="rank == -1">
                                ORDER BY score
                            </if>
                            <if test="rank == 1">
                                ORDER BY score desc
                            </if>
        LIMIT #{number1}, #{number2}
    </select>
    <select id="selectTotal" resultType="java.lang.Integer">
        SELECT COUNT(user_number) FROM user AS u, appraisal AS a
        WHERE u.user_id = a.user_id
        <if test="name!=null and name!=''">
            AND u.username LIKE CONCAT("%",#{name},"%")
        </if>
        <if test="classId != null">
            AND u.user_id IN (SELECT user_id FROM student WHERE class_id = #{classId})
        </if>
        <if test="month != null">
            AND a.month = #{month}
        </if>
        <if test="rank == -1">
            ORDER BY score
        </if>
        <if test="rank == 1">
            ORDER BY score desc
        </if>
    </select>
    <select id="selectAppraisalByUserNumber" resultType="com.social.demo.entity.Appraisal">
        SELECT * FROM appraisal WHERE user_id IN (SELECT user_id FROM user WHERE user_number = #{userNumber}) AND `month` = #{month}
    </select>
</mapper>
