<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.social.demo.dao.mapper.AppraisalTeamUserMapper">
    <insert id="add">
        INSERT INTO appraisal_team_user(team_user_id, class_user_id) VALUES(#{teamUserId}, #{classUserId}) ON DUPLICATE KEY UPDATE team_user_id = #{teamUserId},
        class_user_id = #{classUserId}
    </insert>

    <select id="selectHaveTeamMember" resultType="java.lang.Integer">
        SELECT COUNT(class_user_id) FROM appraisal_team_user WHERE team_user_id IN
            (SELECT user_id FROM user WHERE user_number = #{userNumber})
    </select>
    <select id="selectClassMember" resultType="com.social.demo.data.vo.AppraisalTeamMemberVo">
        SELECT user_id, username, user_number FROM user WHERE user_id IN
                (SELECT class_user_id FROM appraisal_team_user WHERE team_user_id = #{userId})
    </select>
</mapper>
