<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.social.demo.dao.mapper.AppraisalMapper">
    <update id="updateIsEnd">
        UPDATE appraisal SET is_end = #{isEnd} WHERE `month` = #{month} AND user_id IN
                                               (SELECT user_id FROM student WHERE class_id = #{classId})
    </update>
    <update id="removeSignature">
        UPDATE appraisal SET signature = null WHERE `month` = #{month} AND user_id IN (SELECT user_id FROM user WHERE user_number = #{userNumber})
    </update>


    <select id="selectLastMonthScore" resultType="java.lang.Integer">
        SELECT score FROM appraisal WHERE user_id in (SELECT user_id FROM user WHERE user_number = #{userNumber}) AND `month` = #{month}
    </select>
    <select id="selectUserNumbersToTeacher" resultType="java.lang.String">
        SELECT user_number FROM user AS u, student AS s
                           <where>
                               u.user_id = s.user_id
                               <if test="keyword != null and keyword != '' and keyword != 'null'">
                                   AND (u.username LIKE CONCAT("%",#{keyword},"%") OR u.user_number LIKE CONCAT("%",#{keyword},"%"))
                               </if>
                               <if test="classId != null">
                                   AND u.user_id IN (SELECT user_id FROM student WHERE class_id = #{classId})
                               </if>
                            </where>
                            <if test="rank == -1">
                                ORDER BY s.appraisal_score
                            </if>
                            <if test="rank == 1">
                                ORDER BY s.appraisal_score desc
                            </if>
        LIMIT #{number1}, #{number2}
    </select>
    <select id="selectTotal" resultType="java.lang.Integer">
        SELECT COUNT(user_number) FROM user AS u, appraisal AS a
        WHERE u.user_id = a.user_id
        <if test="name!=null and name!=''">
            AND u.username LIKE CONCAT("%",#{name},"%")
        </if>
        <if test="classId != null">
            AND u.user_id IN (SELECT user_id FROM student WHERE class_id = #{classId})
        </if>
        <if test="month != null">
            AND a.month = #{month}
        </if>
        <if test="rank == -1">
            ORDER BY score
        </if>
        <if test="rank == 1">
            ORDER BY score desc
        </if>
    </select>
    <select id="selectAppraisalId" resultType="java.lang.Long">
        SELECT appraisal_id FROM appraisal WHERE user_id IN (SELECT user_id FROM user WHERE user_number = #{userNumber}) AND `month` = #{month}
    </select>
    <select id="selectAppraisalByUserId" resultType="com.social.demo.entity.Appraisal">
        SELECT * FROM appraisal WHERE user_id = #{userId} AND `month` = #{month}
    </select>
    <select id="selectUserNumbersToTeam" resultType="java.lang.String">
        SELECT u.user_number FROM user AS u, student AS s
            WHERE s.class_id IN (SELECT class_id FROM appraisal_team WHERE team_user_id = #{userId})
                AND u.user_id = s.user_id
            <if test="keyword!=null and keyword!='' and keyword!='null'">
                AND (u.username LIKE CONCAT("%",#{keyword},"%") OR u.user_number LIKE CONCAT("%",#{keyword},"%"))
            </if>
            <if test="rank == -1">
                ORDER BY s.appraisal_score
            </if>
            <if test="rank == 1">
                ORDER BY s.appraisal_score desc
            </if>
        GROUP BY user_number
        LIMIT #{number1}, #{number2}
    </select>
    <select id="selectMonths" resultType="java.lang.Integer">
        SELECT `month` FROM appraisal WHERE user_id IN
                                      (SELECT user_id FROM student WHERE class_id = #{class_id})
        GROUP BY `month`
    </select>
    <select id="selectTotalToTeam" resultType="java.lang.Integer">
        SELECT COUNT(u.user_number) FROM user AS u, student AS s
            WHERE s.class_id IN (SELECT class_id FROM appraisal_team WHERE team_user_id = #{userId})
                AND u.user_id = s.user_id
            <if test="keyword!=null and keyword!='' and keyword!='null'">
                AND (u.username LIKE CONCAT("%",#{keyword},"%") OR u.user_number LIKE CONCAT("%",#{keyword},"%"))
            </if>
    </select>
    <select id="selectIsEnd" resultType="java.lang.Boolean">
        SELECT is_end FROM appraisal WHERE user_id IN (SELECT user_id FROM student WHERE class_id = #{classId})
        AND `month` = #{month}
        GROUP BY is_end
    </select>
    <select id="selectUserNumbersHistory" resultType="java.lang.String">
        SELECT user_number FROM user WHERE user_id IN (
            SELECT s.user_id FROM student AS s, appraisal AS a WHERE s.user_id = a.user_id AND s.class_id IN (
                SELECT class_id FROM `class` WHERE `year` = #{year}
                    <if test="className!=null and className!='' and className!='null' ">
                        AND class_name LIKE CONCAT("%",#{className},"%")
                    </if>
                ) AND a.month = #{month} AND enrollment_year = #{year}
            )
        <if test="keyword!=null and keyword!='' and keyword!='null' ">
            AND (username LIKE CONCAT("%",#{keyword},"%") OR user_number LIKE CONCAT("%",#{keyword},"%"))
        </if>
        LIMIT #{number1}, #{number2}
    </select>
    <select id="selectHistoryTotal" resultType="java.lang.Long">
        SELECT COUNT(user_number) FROM user WHERE user_id IN (
            SELECT s.user_id FROM student AS s WHERE s.class_id IN (
                SELECT class_id FROM `class` WHERE `year` = #{year} AND class_id = #{classId}
                ) AND enrollment_year = #{year}
            )
        <if test="keyword!=null and keyword!='' and keyword!='null' ">
            AND (username LIKE CONCAT("%",#{keyword},"%") OR user_number LIKE CONCAT("%",#{keyword},"%"))
        </if>
    </select>
    <select id="selectSignatureCount" resultType="java.lang.Integer">
        SELECT COUNT(signature) FROM appraisal AS a, student AS s WHERE a.user_id = s.user_id AND class_id = #{classId} AND a.month = #{month}
    </select>
    <select id="selectUserMessageToTeam" resultType="com.social.demo.data.bo.UserMessageBo">
        SELECT u.user_number, u.user_id, u.username, s.appraisal_score FROM user AS u, student AS s
        WHERE s.class_id IN (SELECT class_id FROM appraisal_team WHERE team_user_id = #{userId})
        AND u.user_id = s.user_id
        <if test="keyword!=null and keyword!='' and keyword!='null'">
            AND (u.username LIKE CONCAT("%",#{keyword},"%") OR u.user_number LIKE CONCAT("%",#{keyword},"%"))
        </if>
        <if test="rank == -1">
            ORDER BY s.appraisal_score
        </if>
        <if test="rank == 1">
            ORDER BY s.appraisal_score desc
        </if>
        LIMIT #{number1}, #{number2}
    </select>
    <select id="selectAppraisals" resultType="com.social.demo.entity.Appraisal">
        SELECT * FROM appraisal
        <where>
            month = #{month} AND
            <foreach collection="userMessageBos" index="index" item="userMessageBos" open="(" close=")" separator="or">
                ( `user_id`=#{userMessageBos.userId} )
            </foreach>
        </where>
    </select>
    <select id="selectUserMessageToTeacher" resultType="com.social.demo.data.bo.UserMessageBo">
        SELECT u.user_number, u.user_id, u.username, s.appraisal_score FROM user AS u, student AS s
        <where>
            u.user_id = s.user_id
            <if test="keyword != null and keyword != '' and keyword != 'null'">
                AND (u.username LIKE CONCAT("%",#{keyword},"%") OR u.user_number LIKE CONCAT("%",#{keyword},"%"))
            </if>
            <if test="classId != null">
                AND u.user_id IN (SELECT user_id FROM student WHERE class_id = #{classId})
            </if>
        </where>
        <if test="rank == -1">
            ORDER BY s.appraisal_score
        </if>
        <if test="rank == 1">
            ORDER BY s.appraisal_score desc
        </if>
        LIMIT #{number1}, #{number2}
    </select>
    <select id="selectUserMessageHistory" resultType="com.social.demo.data.bo.UserMessageBo">
        SELECT u.user_number, u.user_id, u.username, s.appraisal_score FROM user AS u, student AS s
            WHERE s.user_id = u.user_id AND s.class_id IN (
                SELECT class_id FROM `class` WHERE `year` = #{year}
                AND class_id = #{classId}
            )
        AND enrollment_year = #{year}
        <if test="keyword!=null and keyword!='' and keyword!='null' ">
            AND (username LIKE CONCAT("%",#{keyword},"%") OR user_number LIKE CONCAT("%",#{keyword},"%"))
        </if>
        LIMIT #{number1}, #{number2}
    </select>
</mapper>
