<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.social.demo.dao.mapper.ClassMapper">


    <select id="selectClassIdByName" resultType="java.lang.Long">
        SELECT class_id FROM `class` WHERE class_name = #{className}
    </select>
    <select id="selectNameByClassId" resultType="java.lang.String">
        SELECT class_name FROM `class` WHERE class_id = #{classId}
    </select>
    <select id="judge" resultType="java.lang.Long">
        SELECT class_id FROM `class` WHERE class_name = #{className} AND class_id != #{classId}
    </select>
    <select id="selectClassNameByTeacherUserId" resultType="java.lang.String">
        SELECT class_name FROM `class` WHERE user_id = #{userId}
    </select>
    <select id="selectClassIdByTeacherNumber" resultType="java.lang.Long">
        SELECT class_id FROM `class` WHERE user_id IN (SELECT user_id FROM user WHERE user_number = #{teacherNumber})
    </select>
    <select id="selectClassIdByTeacherUserId" resultType="java.lang.Long">
        SELECT class_id FROM `class` WHERE user_id = #{userId} AND record_delete = 0
    </select>
    <select id="selectTeacherUserIdByClassId" resultType="java.lang.Long">
        SELECT user_id FROM `class` WHERE class_id = #{classId}
    </select>
    <select id="getTimeId" resultType="java.lang.Long">
        SELECT id FROM wish.wish_time WHERE id in (SELECT time_id FROM wish.wish WHERE user_id in
        (SELECT user_id FROM student WHERE ))
    </select>
</mapper>
