<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.social.demo.dao.mapper.StudentMapper">
    <update id="deleteGrades">
        UPDATE student SET grade = null, score = null WHERE user_id IN (SELECT user_id FROM user WHERE user_number = #{userNumber})
    </update>

    <select id="selectClassIdByUserNumber" resultType="java.lang.Long">
        SELECT class_id FROM student WHERE user_id IN (SELECT user_id FROM user WHERE user_number = #{number})
    </select>
    <select id="getUserIdByClassId1" resultType="com.social.demo.entity.WishClass">
        SELECT school.name,student.province,user.username,user.user_number,user.sex,student.score
             ,wish.wish.first_name,wish.wish.second_name,wish.wish.third_name FROM student INNER JOIN wish  on student.user_id = wish.user_id
                                                                                           INNER JOIN wish.school ON student.school_id = school.school_id
                                                                                           INNER JOIN wish.user on user.user_id = student.user_id
        WHERE student.user_id IN (SELECT user_id FROM student WHERE class_id = #{classId}) and wish.wish.time_id = #{timeId} LIMIT #{size} OFFSET #{current};
    </select>
    <select id="getUserIdByClassId" resultType="java.lang.Long">
        SELECT user_id FROM student WHERE class_id = #{classId}
    </select>
    <select id="getWishResultBySchoolId" resultType="com.social.demo.entity.WishResult">
        SELECT class.class_name,subject_group.subjects,school.name,student.province,user.username,user.user_number,user.sex,student.score
             ,wish.wish.first_name,wish.wish.second_name,wish.wish.third_name,mate.major_id,mate.major_name,mate.mate_way,user.phone,student.parent_phone
        FROM student INNER JOIN wish  on student.user_id = wish.user_id
                                                                                           INNER JOIN wish.school ON student.school_id = school.school_id
                                                                                           INNER JOIN wish.user on user.user_id = student.user_id
                                                                                           INNER JOIN wish.subject_group  on wish.subject_group.hashcode = student.hashcode
                                                                                           INNER JOIN wish.mate on wish.mate.user_id = student.user_id
                                                                                           INNER JOIN wish.class on class.class_id = student.class_id
        WHERE student.user_id IN (SELECT user_id FROM student WHERE school_id = #{schoolId}) and wish.wish.time_id = #{timeId} and mate.mate_way = #{mateWay} and mate.major_id is not null;
    </select>
    <select id="getWishResultBySchoolId2" resultType="com.social.demo.entity.WishResult">
        SELECT class.class_name,subject_group.subjects,school.name,student.province,user.username,user.user_number,user.sex,student.score
             ,wish.wish.first_name,wish.wish.second_name,wish.wish.third_name,mate.major_id,mate.major_name,mate.mate_way,user.phone,student.parent_phone
        FROM student INNER JOIN wish  on student.user_id = wish.user_id
                     INNER JOIN wish.school ON student.school_id = school.school_id
                     INNER JOIN wish.user on user.user_id = student.user_id
                     INNER JOIN wish.subject_group  on wish.subject_group.hashcode = student.hashcode
                     INNER JOIN wish.mate on wish.mate.user_id = student.user_id
                     INNER JOIN wish.class on class.class_id = student.class_id
        WHERE student.user_id IN (SELECT user_id FROM student WHERE school_id = #{schoolId}) and wish.wish.time_id = #{timeId} and mate.mate_way = #{mateWay} and mate.major_id is null;
    </select>
    <select id="getWishResultBySchoolId5" resultType="com.social.demo.entity.WishResult">
        SELECT class.class_name,subject_group.subjects,school.name,student.province,user.username,user.user_number,user.sex,student.score
             ,wish.wish.first_name,wish.wish.second_name,wish.wish.third_name,wish.wish.admission_result_name AS majorName
             ,user.phone,student.parent_phone
        FROM student INNER JOIN wish  on student.user_id = wish.user_id
                     INNER JOIN wish.school ON student.school_id = school.school_id
                     INNER JOIN wish.user on user.user_id = student.user_id
                     INNER JOIN wish.subject_group  on wish.subject_group.hashcode = student.hashcode
                     INNER JOIN wish.class on class.class_id = student.class_id
        WHERE student.user_id IN (SELECT user_id FROM student WHERE school_id = #{schoolId}) and wish.wish.time_id = #{timeId};
    </select>
    <select id="getWishResultBySchoolId6" resultType="com.social.demo.entity.WishResult">
        SELECT class.class_name,subject_group.subjects,school.name,student.province,user.username,user.user_number,user.sex,student.score
             ,wish.wish.first_name,wish.wish.second_name,wish.wish.third_name,wish.wish.admission_result_name AS majorName
             ,user.phone,student.parent_phone
        FROM student INNER JOIN wish  on student.user_id = wish.user_id
                     INNER JOIN wish.school ON student.school_id = school.school_id
                     INNER JOIN wish.user on user.user_id = student.user_id
                     INNER JOIN wish.subject_group  on wish.subject_group.hashcode = student.hashcode
                     INNER JOIN wish.class on class.class_id = student.class_id
        WHERE student.user_id IN (SELECT user_id FROM student WHERE school_id = #{schoolId}) and wish.wish.time_id = #{timeId}
        LIMIT #{size} OFFSET #{current};;
    </select>
    <select id="getWishResultBySchoolId1" resultType="com.social.demo.entity.WishResult">
        SELECT class.class_name,subject_group.subjects,school.name,student.province,user.username,user.user_number,user.sex,student.score
             ,wish.wish.first_name,wish.wish.second_name,wish.wish.third_name,mate.major_id,mate.major_name,mate.mate_way,user.phone,student.parent_phone
        FROM student INNER JOIN wish  on student.user_id = wish.user_id
                     INNER JOIN wish.school ON student.school_id = school.school_id
                     INNER JOIN wish.user on user.user_id = student.user_id
                     INNER JOIN wish.subject_group  on wish.subject_group.hashcode = student.hashcode
                     INNER JOIN wish.mate on wish.mate.user_id = student.user_id
                     INNER JOIN wish.class on class.class_id = student.class_id
        WHERE student.user_id IN (SELECT user_id FROM student WHERE school_id = #{schoolId}) and wish.wish.time_id = #{timeId} and mate.mate_way = #{mateWay} and mate.major_id is not null
        LIMIT #{size} OFFSET #{current};
    </select>
    <select id="getWishResultBySchoolId3" resultType="com.social.demo.entity.WishResult">
        SELECT class.class_name,subject_group.subjects,school.name,student.province,user.username,user.user_number,user.sex,student.score
             ,wish.wish.first_name,wish.wish.second_name,wish.wish.third_name,mate.major_id,mate.major_name,mate.mate_way,user.phone,student.parent_phone
        FROM student INNER JOIN wish  on student.user_id = wish.user_id
                     INNER JOIN wish.school ON student.school_id = school.school_id
                     INNER JOIN wish.user on user.user_id = student.user_id
                     INNER JOIN wish.subject_group  on wish.subject_group.hashcode = student.hashcode
                     INNER JOIN wish.mate on wish.mate.user_id = student.user_id
                     INNER JOIN wish.class on class.class_id = student.class_id
        WHERE student.user_id IN (SELECT user_id FROM student WHERE school_id = #{schoolId}) and wish.wish.time_id = #{timeId} and mate.mate_way = #{mateWay} and mate.major_id is null
        LIMIT #{size} OFFSET #{current};
    </select>
    <select id="getClass1" resultType="java.lang.Long">
        SELECT count(*) FROM student INNER JOIN wish  on student.user_id = wish.user_id
                                                                                           INNER JOIN wish.user on user.user_id = student.user_id
        WHERE student.user_id IN (SELECT user_id FROM student WHERE class_id = #{classId}) and wish.wish.time_id = #{timeId};
    </select>
    <select id="selectClassIdByUserId" resultType="java.lang.Long">
        SELECT class_id FROM student WHERE user_id = #{userId}
    </select>


    <select id="getRanking" resultType="com.social.demo.entity.Ranking">
        SELECT score,grade,user_id  FROM student where enrollment_year = #{enrollmentYear}
    </select>
    <select id="getClassRanking" resultType="com.social.demo.entity.Ranking">
        SELECT score,grade,user_id  FROM student WHERE class_id = #{classId}
    </select>
    <select id="getSchoolRanking" resultType="com.social.demo.entity.Ranking">
        SELECT score,grade,user_id  FROM student WHERE school_id = #{schoolId} and enrollment_year = #{ago}
    </select>
    <select id="getMajorRanking" resultType="com.social.demo.entity.Ranking">
        SELECT score,grade,user_id  FROM student WHERE user_id in (SELECT wish.wish.user_id from wish.wish where time_id = #{timeId} and (wish.wish.`first` = #{majorId} or wish.wish.`second` = #{majorId} or wish.wish.`third` = #{majorId}))
    </select>
    <select id="getTimeId" resultType="java.lang.Long">
        SELECT wish_time.id FROM wish.wish_time WHERE type = 0 and id in (SELECT wish.wish.time_id from wish.wish where  user_id = #{userId})
    </select>
    <select id="getGrades" resultType="com.social.demo.data.bo.GradeBo">
        SELECT s.score, u.username, u.user_number, s.grade FROM user AS u, student AS s WHERE
        u.user_id = s.user_id AND enrollment_year = #{year}
        <if test="keyword != null and keyword != 'null' and keyword != ''">
           AND (u.user_number LIKE CONCAT("%",#{keyword},"%") OR u.username LIKE CONCAT("%",#{keyword},"%"))
        </if>
        LIMIT #{number1}, #{number2}
    </select>
    <select id="getGradesCount" resultType="java.lang.Integer">
        SELECT COUNT(u.user_id) FROM user AS u, student AS s WHERE
        u.user_id = s.user_id AND enrollment_year = #{year}
        <if test="keyword != null and keyword != 'null' and keyword != ''">
            AND (u.user_number LIKE CONCAT("%",#{keyword},"%") OR u.username LIKE CONCAT("%",#{keyword},"%"))
        </if>
    </select>
    <select id="getAllGrades" resultType="com.social.demo.data.bo.GradeBo">
        SELECT s.score, u.username, u.user_number, s.grade FROM user AS u, student AS s WHERE
            u.user_id = s.user_id AND enrollment_year = #{year}
    </select>
    <select id="selectClassNameByUserId" resultType="java.lang.String">
        SELECT class_name FROM `class` WHERE class_id IN (SELECT class_id FROM student WHERE user_id = #{userId})
    </select>
    <select id="selectUserNumberByClass" resultType="java.lang.String">
        SELECT u.user_number FROM user AS u, student AS s WHERE u.user_id = s.user_id
             AND s.class_id = #{classId}
    </select>
    <select id="selectUserNumberByClassYear" resultType="java.lang.String">
        SELECT u.user_number FROM user AS u, student AS s WHERE u.user_id = s.user_id
            AND s.class_id = #{classId}
            AND s.enrollment_year = #{year}
    </select>
    <select id="selectUserMessageByClassYear" resultType="com.social.demo.data.bo.UserMessageBo">
        SELECT u.user_number, u.user_id, u,username, s.appraisal_score FROM user AS u, student AS s WHERE u.user_id = s.user_id
            AND s.class_id = #{classId}
            AND s.enrollment_year = #{year}
    </select>
</mapper>
