<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.social.demo.dao.mapper.SubjectMapper">

    <select id="selectSubjects" resultType="com.social.demo.entity.Subject">
        SELECT * FROM subject WHERE subject.subject_id in (SELECT subject_id FROM choose_subject WHERE choose_id = #{chooseId})
    </select>
</mapper>
