<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.social.demo.dao.mapper.SysApiMapper">
     <select id="selectApisWithRoles" resultMap="SysApiResultMap">
        SELECT a.*, ra.role_id
        FROM sys_api a
                 LEFT JOIN sys_role_api ra ON a.id = ra.api_id
    </select>
    <resultMap id="SysApiResultMap" type="com.social.demo.entity.SysApi">
        <id property="id" column="id"/>
        <result property="pattern" column="pattern"/>
        <result property="description" column="ade"/>
        <collection property="roles" ofType="com.social.demo.entity.SysRoleVo">
            <result property="roleId" column="role_id"/>
        </collection>
    </resultMap>
</mapper>
