<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.social.demo.dao.mapper.SysRoleMapper">

    <select id="selectRoleListByUserName" resultType="com.social.demo.entity.SysRole">
        select *
        from sys_role
        right join (select * from sys_user_role where user_id = (select user_id from user where user_number = #{userNumber}))
            ur on sys_role.id = ur.role_id
    </select>

</mapper>
