<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.social.demo.dao.mapper.UserMapper">
    <update id="updateClassIdentity">
        UPDATE user SET identity = #{identity} WHERE user_number = #{userNumber}
    </update>
    <update id="updateIdentityByUserId">
        UPDATE user SET identity = #{identity} WHERE user_id = #{userId}
    </update>

    <select id="selectUserIdByUserNumber" resultType="java.lang.Long">
        select user_id from user where user.user_number = #{userNumber}
    </select>
    <select id="selectUserBySchoolAndTime" resultType="com.social.demo.entity.User">
        SELECT * FROM user WHERE
            school_number in (SELECT number FROM school WHERE name = #{school})
        AND
            enrollment_year = #{year}
    </select>
    <select id="selectStudentSubjects" resultType="java.lang.String">
        SELECT subject_name FROM user_subject WHERE user_id = #{userId}
    </select>
    <select id="selectTeacherNotClass" resultType="com.social.demo.entity.User">
        SELECT * FROM user WHERE identity = 1 AND user_id != all(
            SELECT user_id FROM class
            )
    </select>
    <select id="selectUserNameByUserNumber" resultType="java.lang.String">
        SELECT username FROM user WHERE user_number = #{number}
    </select>
    <select id="selectClassStudents" resultType="com.social.demo.data.bo.StudentBo">
        SELECT u.user_id, u.username, u.user_number FROM user AS u, student AS s WHERE
        u.user_id = s.user_id
        AND s.class_id = #{classId}
        LIMIT #{number1}, #{number2}
    </select>
    <select id="selectClassStudentCount" resultType="java.lang.Integer">
        SELECT COUNT(s.user_id) FROM user AS u, student AS s WHERE
        u.user_id = s.user_id
        AND s.class_id = #{classId}
    </select>
    <select id="selectHeadshot" resultType="java.lang.String">
        SELECT headshot FROM user WHERE user_number = #{userNumber}
    </select>
    <select id="selectClassUserNumbers" resultType="com.social.demo.data.vo.ClassUserVo">
        SELECT u.user_number, u.username, u.identity, s.appraisal_score FROM user AS u, student AS s
        WHERE u.user_id = s.user_id
        <if test="keyword!=null and keyword!='' and keyword != 'null'">
            AND (u.user_number LIKE CONCAT("%",#{keyword},"%") OR u.username LIKE CONCAT("%",#{keyword},"%"))
        </if>
        <if test="classId != null">
            AND s.class_id = #{classId}
        </if>
        <if test="role != null and role !='' and role != 'null'">
            AND u.identity = #{role}
        </if>
        <if test="rank == -1">
            ORDER BY s.appraisal_score
        </if>
        <if test="rank == 1">
            ORDER BY s.appraisal_score desc
        </if>
        LIMIT #{number1}, #{number2}
    </select>
    <select id="selectUserNumberByUserId" resultType="java.lang.String">
        SELECT user_number FROM user WHERE user_id = #{userId}
    </select>
    <select id="selectIdentityByUserId" resultType="java.lang.Integer">
        select `identity` from `user` where user_id = #{userId}
    </select>
    <select id="selectIdentity" resultType="java.lang.Integer">
        SELECT `identity` FROM `user` WHERE user_number = #{userNumber}
    </select>
    <select id="selectTeacher" resultType="com.social.demo.entity.User">
        SELECT * FROM `user` WHERE `identity` = 1
    </select>
    <select id="selectUserIdHistory" resultType="java.lang.String">
        SELECT u.user_number FROM user AS u, student AS s
              WHERE u.user_id = s.user_id
                <if test="classId!=null">
                    AND s.class_id = #{classId}
                </if>
                AND s.enrollment_year = #{year}
            <if test="keyword!=null and keyword!='' and keyword != 'null'">
                AND (u.user_number LIKE CONCAT("%",#{keyword},"%") OR u.username LIKE CONCAT("%",#{keyword},"%"))
            </if>
        LIMIT #{number1}, #{number2}
    </select>
    <select id="selectUserCountHistory" resultType="java.lang.Integer">
        SELECT COUNT(u.user_id) FROM user AS u, student AS s
            WHERE u.user_id = s.user_id
                <if test="classId!=null">
                    AND s.class_id = #{classId}
                </if>
                    AND s.enrollment_year = #{year}
            <if test="keyword!=null and keyword!='' and keyword != 'null'">
                AND (u.user_number LIKE CONCAT("%",#{keyword},"%") OR u.username LIKE CONCAT("%",#{keyword},"%"))
            </if>
    </select>

</mapper>
