<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.social.demo.dao.mapper.UserMapper">

    <select id="selectUserIdByUserName" resultType="java.lang.Long">
        select id from user where user.username = #{username}
    </select>
    <select id="selectUserBySchoolAndTime" resultType="com.social.demo.entity.User">
        SELECT * FROM user WHERE
            school_number in (SELECT number FROM school WHERE name = #{school})
        AND
            enrollment_year = #{year}
    </select>
</mapper>
